* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro";
}

.main-body {
    width: 100%;
    background-image: url(/Pictures/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.main-body .container {
    width: 95%;
    max-width: 1440px;
    padding: 46px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
.main-body .container .header {
    width: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 70px;
    background-color: rgba(255, 242, 223, 0.27);
    border: 1px solid #FFFFFF;
    padding: 35px 20px 295px;
}
.main-body .container .header .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
.main-body .container .header .navigation .menu {
    width: 100%;
    height: 45px;
    border-radius: 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    color: rgba(42, 0, 0, 1);
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body .container .header .navigation .menu:hover {
    background-color: rgba(202, 157, 115, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.main-body .container .header .navigation .menu1 {
    width: 100%;
    height: 45px;
    border-radius: 9px 18px;
    background-color: rgba(202, 157, 115, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 127px;
    height: 54px;
    margin-bottom: 10px;
}
.main-body .container .content {
    width: 85%;
    padding: 30px;
    border-radius: 30px 100px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    background-color: rgba(255, 242, 223, 0.27);
} 
.main-body .container .content .navigation {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-body .container .content .navigation .nav-1 {
    width: 230px;
    height: 55px;
    border-radius: 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body .container .content .navigation .nav-2 {
    width: 230px;
    height: 55px;
    border-radius: 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.op-nav-2 {
    width: 200px;
    height: 55px;
    padding: 0 35px;
    background-color: rgba(255, 250, 242, 1);
    font-size: 20px;
    font-weight: 600;
}
select {
    border: none;
    outline: none;
}
.main-body .container .content .navigation .nav-3 {
    width: 208px;
    height: 55px;
    border-radius: 9px 45px 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.op-nav-3 {
    width: 120px;
    height: 55px;
    border-radius: 9px 45px 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    font-size: 20px;
    font-weight: 600;
}
.search {
    width: 25px;
    height: 26px;
}
input {
    border: none;
    outline: none;
}
.main-body .container .content .main-content {
    width: 100%;
    border-radius: 15px 30px 15px 87px;
    background-color: rgba(255, 250, 242, 1);
}
.main-body .container .content .main-content .box-inner {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.main-body .container .content .main-content .box-inner .box1 {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff6e8;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgba(42, 0, 0, 1);
}
th {
    background: rgba(202, 157, 115, 1);
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 14px;
    text-align: center;
}
tr:hover {
    background-color: rgba(202, 157, 115, 0.378);
    color: rgba(42, 0, 0, 1);
    cursor: default;
}
td {
    height: 60px;
    text-align: center;
}
.button-act {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    border-radius: 41px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(1, 130, 11, 1);
    color: rgba(255, 255, 255, 1);
}
.button-act2 {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    border-radius: 41px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(138, 28, 28, 1);
    color: rgba(255, 255, 255, 1);
}
.button-act:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
} 
.button-act2:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.box-tt {
    width: 50%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.icontt {
    width: 32px;
    height: 32px;
}
.icontt:hover {
    border-radius: 25%;
    background-color: rgba(255, 236, 220, 0.633);
    box-shadow: 2px 1px 1px 1px rgba(184, 138, 102, 0.445);
    transform: scale(1.1);
    cursor: pointer;
}
.main-body .container .content .main-content .box-inner .box2 {
    width: 100%;
    border-radius: 10px 10px 10px 56px;
    background-color: rgba(255, 242, 223, 1);
    border: 2px solid rgba(42, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.main-content .box-inner .box2 .title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.6px;
}
.main-content .box-inner .box2 .type-of-gift {
    width: 95%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.type-of-gift .item1 {
    width: 275px;
    padding: 10px 30px;
    color:  rgba(1, 130, 11, 1);
    border: 1px solid rgba(1, 130, 11, 1);
    border-radius: 10px 10px 10px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.type-of-gift .item2 {
    width: 275px;
    padding: 10px 30px;
    color:  rgba(153, 98, 15, 1);
    border: 1px solid rgba(153, 98, 15, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.type-of-gift .item3 {
    width: 275px;
    padding: 10px 30px;
    color:  rgba(164, 11, 0, 1);
    border: 1px solid rgba(164, 11, 0, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.type-of-gift .box-line {
    width: 100%;
    height: 18px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}
.type-of-gift .box-line .line1 {
    width: 100%;
    height: 0;
    border: 5px solid rgba(1, 130, 11, 1);
    border-radius: 20px;
}
.type-of-gift .box-line .circle1 {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 1px solid rgba(1, 130, 11, 1);
    position: absolute;
    left: 80%;
    cursor: pointer;
}
.type-of-gift .box-line .line2 {
    width: 100%;
    height: 0;
    border: 5px solid rgba(153, 98, 15, 1);
    border-radius: 20px;
}
.type-of-gift .box-line .circle2 {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 1px solid rgba(153, 98, 15, 1);
    position: absolute;
    left: 40%;
    cursor: pointer;
}
.type-of-gift .box-line .line3 {
    width: 100%;
    height: 0;
    border: 5px solid rgba(164, 11, 0, 1);
    border-radius: 20px;
}
.type-of-gift .box-line .circle3 {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 1px solid rgba(164, 11, 0, 1);
    position: absolute;
    left: 5%;
    cursor: pointer;
}


.footer {
    width: 100%;
    height: 186px;
    background-color: #6E5737;
    display: flex;
    align-items: center;
    justify-content: center;
    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        max-width: 1200px;
        .item1 {
            width: 302px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            img {
                width: 114px;
                height: 48px;
            }
            .text {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
            }
        }
        .item2 {
            width: 180px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .title {
                color: #FFC46A;
                font-weight: 800;
                font-size: 20px;
            }
            p {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
            }
            .social {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }
    }
}