* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Be Vietnam Pro;
}

.footer {
    width: 100%;
    height: 186px;
    background-color: #6E5737;
    display: flex;
    align-items: center;
    justify-content: center;
    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        max-width: 1200px;
        .item1 {
            width: 302px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            img {
                width: 114px;
                height: 48px;
            }
            .text {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
            }
        }
        .item2 {
            width: 180px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .title {
                color: #FFC46A;
                font-weight: 800;
                font-size: 20px;
            }
            p {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
            }
            .social {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }
    }
}