* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Be Vietnam Pro;
}

.main-body {
    width: 100%;
    background-image: url(/Pictures/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.main-body .container {
    width: 95%;
    max-width: 1440px;
    padding: 46px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body .container .box-inner {
    width: 1020px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.main-body .container .box-inner .header {
    width: 325px;
    height: 80px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 242, 223, 0.28);
    backdrop-filter: blur(15.600000381469727px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo-sc {
    width: 114px;
    height: 48px;
}
.main-body .container .box-inner .header .text-logo {
    width: 160px;
    height: 48px;
    padding-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.6px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}
.main-body .container .box-inner .main-content {
    width: 100%;
    padding: 36px;
    border-radius: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 226, 182, 0.26);
    backdrop-filter: blur(15.600000381469727px);
}
.main-body .container .box-inner .main-content .box-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.main-body .container .box-inner .main-content .box-wrap .item {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    background-color: rgba(255, 250, 242, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cafe {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    object-fit: cover;
}
.main-content .box-wrap .item .box-cafe {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
}
.main-content .box-wrap .item .box-cafe .title-cf {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.6px;
}
.main-content .box-wrap .item .box-cafe .box-text-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.main-content .box-wrap .item .box-cafe .box-text-grid .box-text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}
.main-content .box-wrap .item .box-cafe .box-text-grid .box-text1 .text-gr {
font-weight: 500;
font-size: 24px;
line-height: 100%;
letter-spacing: -0.6px;
color: rgba(33, 11, 11, 0.873);
}
.main-content .box-wrap .item .button-cf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.main-content .box-wrap .item .button-cf .btn-buy {
    width: 180px;
    height: 65px;
    border-radius: 16px;
    background-color: rgba(1, 130, 11, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.6px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.main-content .box-wrap .item .button-cf .btn-delete {
    width: 100%;
    height: 65px;
    border-radius: 16px;
    background-color: rgba(144, 10, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.6px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}



.footer {
    width: 100%;
    height: 186px;
    background-color: #6E5737;
    display: flex;
    align-items: center;
    justify-content: center;
    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        max-width: 1200px;
        .item1 {
            width: 302px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            img {
                width: 114px;
                height: 48px;
            }
            .text {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
            }
        }
        .item2 {
            width: 180px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .title {
                color: #FFC46A;
                font-weight: 800;
                font-size: 20px;
            }
            p {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
            }
            .social {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }
    }
}