* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Be Vietnam Pro;
}

.main-body {
    width: 100%;
    background-image: url(/Pictures/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.main-body .container {
    width: 95%;
    max-width: 1440px;
    padding: 46px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
.main-body .container .header {
    width: 176px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 30px 70px;
    background-color: rgba(255, 242, 223, 0.27);
    border: 1px solid #FFFFFF;
     backdrop-filter: blur(15.600000381469727px);
    padding: 35px 20px 0;
}
.main-body .container .header .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
.main-body .container .header .navigation .menu {
    width: 100%;
    height: 45px;
    border-radius: 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    color: rgba(42, 0, 0, 1);
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body .container .header .navigation .menu:hover {
    background-color: rgba(202, 157, 115, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.main-body .container .header .navigation .menu1 {
    width: 100%;
    height: 45px;
    border-radius: 9px 18px;
    background-color: rgba(202, 157, 115, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 127px;
    height: 54px;
    margin-bottom: 10px;
}
.main-body .container .content {
    width: 85%;
    padding: 30px;
    border-radius: 30px 100px;
    border: 1px solid #FFFFFF;
     backdrop-filter: blur(15.600000381469727px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    background-color: rgba(255, 242, 223, 0.27);
} 
.main-body .container .content .navigation {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-body .container .content .navigation .nav-1 {
    width: 230px;
    height: 55px;
    border-radius: 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body .container .content .navigation .nav-2 {
    width: 230px;
    height: 55px;
    border-radius: 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.op-nav-2 {
    width: 200px;
    height: 55px;
    padding: 0 35px;
    background-color: rgba(255, 250, 242, 1);
    font-size: 20px;
    font-weight: 600;
}
select {
    border: none;
    outline: none;
}
.main-body .container .content .navigation .nav-3 {
    width: 208px;
    height: 55px;
    border-radius: 9px 45px 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.op-nav-3 {
    width: 120px;
    height: 55px;
    border-radius: 9px 45px 9px 18px;
    background-color: rgba(255, 250, 242, 1);
    font-size: 20px;
    font-weight: 600;
}
.search {
    width: 25px;
    height: 26px;
}
input {
    border: none;
    outline: none;
}
.main-body .container .content .main-content {
    width: 100%;
    border-radius: 15px 30px 15px 87px;
    background-color: rgba(255, 250, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body .container .content .main-content .box-grid {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    gap: 35px;
}
.main-content .box-grid .item-grid {
    width: 95%;
    border-radius: 18px;
    padding: 10px 10px 30px 10px;
    background-color: rgba(226, 217, 200, 0.2);
    border: 1.5px solid rgba(226, 217, 200, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.main-content .box-grid .item-grid .box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main-content .box-grid .item-grid .box-content .name {
    font-weight: 600;
    font-size: 33px;
    color: rgba(48, 38, 28, 1);
}
.main-content .box-grid .item-grid .box-content .cost {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(42, 0, 0, 1);
}
.main-content .box-grid .item-grid .box-content .box-btn {
    width: 250px;
    height: 29px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.main-content .box-grid .item-grid .box-content .box-btn .btn-tt {
    width: 60%;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box-content .box-btn .btn-tt .btn-edit {
    width: 50%;
    height: 29px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 12px;
}
.main-content .box-grid .item-grid .box-content .box-btn .btn-buy {
    width: 40%;
    height: 29px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 130, 11, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 12px;
}
.image-coffee {
    width: 100%;
    height: 230px;
    border-radius: 12px;
    object-fit: cover;
}
.image-coffee2 {
    width: 100%;
    height: 230px;
    border-radius: 12px;
    object-fit: cover;
    object-position: bottom;
}
.image-coffee3 {
    width: 100%;
    height: 230px;
    border-radius: 12px;
    object-fit: contain;
}


.footer {
    width: 100%;
    height: 186px;
    background-color: #6E5737;
    display: flex;
    align-items: center;
    justify-content: center;
    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        max-width: 1200px;
        .item1 {
            width: 302px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            img {
                width: 114px;
                height: 48px;
            }
            .text {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
            }
        }
        .item2 {
            width: 180px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .title {
                color: #FFC46A;
                font-weight: 800;
                font-size: 20px;
            }
            p {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 14px;
            }
            .social {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }
    }
}