body{
    position: relative;
    font-family: 'Be Vietnam Pro';
    margin: 0 auto;
    background-color: #FFFEFB;
}
.hero-section{
    position: relative;
    background: url(/assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 754px;
    width: 100%;
    .container{
        position: relative;
        .wrap{
            z-index: 10;
            position: absolute;
            top: 229px;
            width: 100%;
            max-width: 1200px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 33px;
            .title{
                width: 681px;
                font-size: 64px;
                font-weight: 700;
                color: #FFFFFF;
            }
            .text{
                font-size: 26px;
                font-weight: 400;
                margin-bottom: 14px;
                width: 688px;
                color: #FFFFFF;
            }
            .button{
                text-decoration: none;    
                background-color: #D3A376;
                width: 221px;
                height: 57px;
                border-radius: 30px;
                color: white;
                text-align: center;
                align-content: center;
                font-size: 20px;
            }
        }
    }
}

.brands{
    width: 100%;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #FFF2DF;
    .wrap{
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: #544A3E;
        font-size: 18px;
    }
}

.section-1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 473px;
    align-items: end;
    background-color: #fff2df29;
    .wrap{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .hero{
            width: 150%;
            img{
                width: 100%;
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            gap: 50px;
            .title{
                font-size: 40px;
                font-weight: 700;
                width: 523px;
            }
            .text{
                font-size: 24px;
                width: 521px;
            }
        }
    }
}

.section-2{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .wrap{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 34px;
        .title{
            text-align: center;
            font-size: 36px;
            font-weight: 700;
        }
        .content{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .arr-left, .arr-right{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: #E2D9C8;
                border-radius: 50%;
            }
            .arr-left{
                left: 0;
                
            }
            .arr-right{
                right: 0;
            }
            .wrap-carousel{
                display: flex;
                width: 100%;
                max-width: 1090px;
                align-items: center;
                margin: 0 auto;
                justify-content: space-between;
                position: relative;
                .box,.box-1{
                    padding: 30px;
                    border-radius: 18px;
                }
                .box{
                    position: absolute;
                    width: 401px;
                    height: 205px;
                    background-color: #FFF2DF;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    .user-area{
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        .avt{
                            height: 56px;
                        }
                        .box-text{
                            display: flex;
                            flex-direction: column;
                            .title-1{
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .text{
                                font-size: 14px;
                                font-weight: 600;
                                color: #30261cc7;
                            }

                        }
                    }
                    .sub{
                        font-size: 14px;
                    }
                }
                .box-1{
                    width: 380px;
                    height: 187px;
                    background-color: #e2d9c868;
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    .user-area{
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        .avt{
                            height: 56px;
                        }
                        .box-text{
                            display: flex;
                            flex-direction: column;
                            .title-1{
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .text{
                                font-size: 14px;
                                font-weight: 600;
                                color: #30261cc7;
                            }

                        }
                    }
                    .sub{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1270px) {
    .hero-section{
    position: relative;
    background: url(/assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 754px;
    width: 100%;
    .container{
        position: relative;
        .wrap{
            z-index: 10;
            position: absolute;
            top: 229px;
            width: 100%;
            max-width: 800px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 33px;
            .title{
                width: 681px;
                font-size: 64px;
                font-weight: 700;
                color: #FFFFFF;
            }
            .text{
                font-size: 26px;
                font-weight: 400;
                margin-bottom: 14px;
                width: 688px;
                color: #FFFFFF;
            }
            .button{
                text-decoration: none;    
                background-color: #D3A376;
                width: 221px;
                height: 57px;
                border-radius: 30px;
                color: white;
                text-align: center;
                align-content: center;
                font-size: 20px;
            }
        }
    }
    }

    .brands{
        width: 100%;
        display: flex;
        height: 120px;
        justify-content: center;
        align-items: center;
        background-color: #FFF2DF;
        .wrap{
            width: 100%;
            max-width: 800px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            color: #544A3E;
            font-size: 18px;
        }
    }

    .section-1{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 400px;
        align-items: end;
        background-color: #fff2df29;
        .wrap{
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .hero{
                width: 150%;
                img{
                    width: 100%;
                }
            }
            .content{
                display: flex;
                flex-direction: column;
                gap: 50px;
                .title{
                    font-size: 40px;
                    font-weight: 700;
                    width: 523px;
                }
                .text{
                    font-size: 24px;
                    width: 521px;
                }
            }
        }
    }

    .section-2{
        width: 100%;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .wrap{
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 34px;
            .title{
                text-align: center;
                font-size: 36px;
                font-weight: 700;
            }
            .content{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .arr-left, .arr-right{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    background-color: #E2D9C8;
                    border-radius: 50%;
                }
                .arr-left{
                    left: 0;
                    
                }
                .arr-right{
                    right: 0;
                }
                .wrap-carousel{
                    display: flex;
                    width: 100%;
                    max-width: 700px;
                    align-items: center;
                    margin: 0 auto;
                    justify-content: space-between;
                    position: relative;
                    .box,.box-1{
                        padding: 30px;
                        border-radius: 18px;
                    }
                    .box{
                        position: absolute;
                        width: 401px;
                        height: 185px;
                        background-color: #FFF2DF;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        gap: 18px;
                        .user-area{
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            .avt{
                                height: 56px;
                            }
                            .box-text{
                                display: flex;
                                flex-direction: column;
                                .title-1{
                                    font-size: 18px;
                                    font-weight: 600;
                                }
                                .text{
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #30261cc7;
                                }

                            }
                        }
                        .sub{
                            font-size: 14px;
                        }
                    }
                    .box-1{
                        width: 380px;
                        height: 167px;
                        background-color: #e2d9c868;
                        display: flex;
                        flex-direction: column;
                        gap: 18px;
                        .user-area{
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            .avt{
                                height: 56px;
                            }
                            .box-text{
                                display: flex;
                                flex-direction: column;
                                .title-1{
                                    font-size: 18px;
                                    font-weight: 600;
                                }
                                .text{
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: #30261cc7;
                                }

                            }
                        }
                        .sub{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}